@import url('https://fonts.googleapis.com/css2?family=Nova+Square&family=Yuji+Syuku&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Nova+Square&family=Raleway:wght@700&family=Yuji+Syuku&display=swap'); */


* {
    background-color: black;
    /* color: rgb(68, 68, 68); */
    color: #f076bc;
    font-family: 'Yuji Syuku', serif;
    /* font-family: 'Raleway', sans-serif; */
}

#main, #img {
    /* width: 60%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30%;
    padding: 20%;
    background-color: blanchedalmond; */
    
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%); 
/* border: 5px solid #FFFF00; */
padding: 20% 20% 20% 20%;
background-color: thistle;
}

#img {
    filter: blur(8px);
}

h1 {
   display: flex;
    align-items: center;
    justify-content: center;
    padding: 10%;
    background-color: slategray; 
    text-align: center;
    background: #CCCCCC;
    /* background-color: rgb(68, 68, 68, 0.5); */
    /* background-color: rgba(243, 243, 243, 0.8); */
    background-color: rgb(51, 51, 51, .95);
    height: 200px;
    width: 200px;
    position: relative;
    letter-spacing: 9px;
    font-size: 39px;
    
    




/* position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
/* border: 5px solid #FFFF00; */
/* padding: 10px;  */


/* background: #FFFF00;
width: 70px;
height: 70px;
position: absolute;
top: 50%;
left: 50%;
margin: -35px 0 0 -35px; */

}


/*  Use object fit to add pic */